<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crud.dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.crud.bean.Reply">
    <id column="reply_id" jdbcType="INTEGER" property="replyId" />
    <result column="reply_peo_id" jdbcType="INTEGER" property="replyPeoId" />
    <result column="reply_peo_id_name" jdbcType="VARCHAR" property="replyPeoIdName" />
    <result column="reply_to_ply_id" jdbcType="INTEGER" property="replyToPlyId" />
    <result column="reply_to_ply_peo_id" jdbcType="INTEGER" property="replyToPlyPeoId" />
    <result column="reply_to_ply_peo_name" jdbcType="VARCHAR" property="replyToPlyPeoName" />
    <result column="replyt_time" jdbcType="TIMESTAMP" property="replytTime" />
    <result column="reply_message" jdbcType="VARCHAR" property="replyMessage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    reply_id, reply_peo_id, reply_peo_id_name, reply_to_ply_id, reply_to_ply_peo_id, 
    reply_to_ply_peo_name, replyt_time, reply_message
  </sql>
  <select id="selectByExample" parameterType="com.atguigu.crud.bean.ReplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reply
    where reply_id = #{replyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reply
    where reply_id = #{replyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.atguigu.crud.bean.ReplyExample">
    delete from reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.atguigu.crud.bean.Reply">
    insert into reply (reply_id, reply_peo_id, reply_peo_id_name, 
      reply_to_ply_id, reply_to_ply_peo_id, reply_to_ply_peo_name, 
      replyt_time, reply_message)
    values (#{replyId,jdbcType=INTEGER}, #{replyPeoId,jdbcType=INTEGER}, #{replyPeoIdName,jdbcType=VARCHAR}, 
      #{replyToPlyId,jdbcType=INTEGER}, #{replyToPlyPeoId,jdbcType=INTEGER}, #{replyToPlyPeoName,jdbcType=VARCHAR}, 
      #{replytTime,jdbcType=TIMESTAMP}, #{replyMessage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.crud.bean.Reply">
    insert into reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        reply_id,
      </if>
      <if test="replyPeoId != null">
        reply_peo_id,
      </if>
      <if test="replyPeoIdName != null">
        reply_peo_id_name,
      </if>
      <if test="replyToPlyId != null">
        reply_to_ply_id,
      </if>
      <if test="replyToPlyPeoId != null">
        reply_to_ply_peo_id,
      </if>
      <if test="replyToPlyPeoName != null">
        reply_to_ply_peo_name,
      </if>
      <if test="replytTime != null">
        replyt_time,
      </if>
      <if test="replyMessage != null">
        reply_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        #{replyId,jdbcType=INTEGER},
      </if>
      <if test="replyPeoId != null">
        #{replyPeoId,jdbcType=INTEGER},
      </if>
      <if test="replyPeoIdName != null">
        #{replyPeoIdName,jdbcType=VARCHAR},
      </if>
      <if test="replyToPlyId != null">
        #{replyToPlyId,jdbcType=INTEGER},
      </if>
      <if test="replyToPlyPeoId != null">
        #{replyToPlyPeoId,jdbcType=INTEGER},
      </if>
      <if test="replyToPlyPeoName != null">
        #{replyToPlyPeoName,jdbcType=VARCHAR},
      </if>
      <if test="replytTime != null">
        #{replytTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyMessage != null">
        #{replyMessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.atguigu.crud.bean.ReplyExample" resultType="java.lang.Long">
    select count(*) from reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update reply
    <set>
      <if test="record.replyId != null">
        reply_id = #{record.replyId,jdbcType=INTEGER},
      </if>
      <if test="record.replyPeoId != null">
        reply_peo_id = #{record.replyPeoId,jdbcType=INTEGER},
      </if>
      <if test="record.replyPeoIdName != null">
        reply_peo_id_name = #{record.replyPeoIdName,jdbcType=VARCHAR},
      </if>
      <if test="record.replyToPlyId != null">
        reply_to_ply_id = #{record.replyToPlyId,jdbcType=INTEGER},
      </if>
      <if test="record.replyToPlyPeoId != null">
        reply_to_ply_peo_id = #{record.replyToPlyPeoId,jdbcType=INTEGER},
      </if>
      <if test="record.replyToPlyPeoName != null">
        reply_to_ply_peo_name = #{record.replyToPlyPeoName,jdbcType=VARCHAR},
      </if>
      <if test="record.replytTime != null">
        replyt_time = #{record.replytTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyMessage != null">
        reply_message = #{record.replyMessage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update reply
    set reply_id = #{record.replyId,jdbcType=INTEGER},
      reply_peo_id = #{record.replyPeoId,jdbcType=INTEGER},
      reply_peo_id_name = #{record.replyPeoIdName,jdbcType=VARCHAR},
      reply_to_ply_id = #{record.replyToPlyId,jdbcType=INTEGER},
      reply_to_ply_peo_id = #{record.replyToPlyPeoId,jdbcType=INTEGER},
      reply_to_ply_peo_name = #{record.replyToPlyPeoName,jdbcType=VARCHAR},
      replyt_time = #{record.replytTime,jdbcType=TIMESTAMP},
      reply_message = #{record.replyMessage,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.crud.bean.Reply">
    update reply
    <set>
      <if test="replyPeoId != null">
        reply_peo_id = #{replyPeoId,jdbcType=INTEGER},
      </if>
      <if test="replyPeoIdName != null">
        reply_peo_id_name = #{replyPeoIdName,jdbcType=VARCHAR},
      </if>
      <if test="replyToPlyId != null">
        reply_to_ply_id = #{replyToPlyId,jdbcType=INTEGER},
      </if>
      <if test="replyToPlyPeoId != null">
        reply_to_ply_peo_id = #{replyToPlyPeoId,jdbcType=INTEGER},
      </if>
      <if test="replyToPlyPeoName != null">
        reply_to_ply_peo_name = #{replyToPlyPeoName,jdbcType=VARCHAR},
      </if>
      <if test="replytTime != null">
        replyt_time = #{replytTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyMessage != null">
        reply_message = #{replyMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where reply_id = #{replyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.crud.bean.Reply">
    update reply
    set reply_peo_id = #{replyPeoId,jdbcType=INTEGER},
      reply_peo_id_name = #{replyPeoIdName,jdbcType=VARCHAR},
      reply_to_ply_id = #{replyToPlyId,jdbcType=INTEGER},
      reply_to_ply_peo_id = #{replyToPlyPeoId,jdbcType=INTEGER},
      reply_to_ply_peo_name = #{replyToPlyPeoName,jdbcType=VARCHAR},
      replyt_time = #{replytTime,jdbcType=TIMESTAMP},
      reply_message = #{replyMessage,jdbcType=VARCHAR}
    where reply_id = #{replyId,jdbcType=INTEGER}
  </update>
</mapper>